<section class="about" id="about">
  <div class="container">
    <h2 class="title about-title" data-text="About the Game">About the Game</h2>
    <div class="about-container--flex">
      <p class="about-text">
        In Buggle 2, you'll join Andrew the Bear as he ventures through a
        vibrant world filled with challenging bubble shooter levels. Aim, shoot,
        and pop your way through hundreds of stages to help Andrew beat the
        Queen Bee and bring back the honey.
      </p>
      <div class="gift-container">
        <img
          class="gift-container-img"
          src="/img/about/Group.svg"
          alt="gift"
          aria-label="gift-img"
        lazy-load="true"  />
      </div>
    </div>
  </div>
</section>
