<section class="benefits">
 <div class="container">
  <h2 class="benefits-title">BENEFITS</h2>
  <ul class="benefits-list">
   <li class="benefits-item">
    <img class="benefits-img " src="/img/benefits/benefits_1-mobile.svg" alt="benefits_1" aria-label="img-benefits_1">
    <p class="benefits-item-text">4.8 <br> Rating</p>
   </li>
   <li class="benefits-item"><img class="benefits-img" src="/img/benefits/benefits_2-mobile.svg" alt="benefits_1"
     aria-label="img-benefits_2">
    <p class="benefits-item-text">50 000+ Downloads</p>
   </li>
   <li class="benefits-item"><img class="benefits-img" src="/img/benefits/benefits_3-mobile.svg" alt="benefits_1"
     aria-label="img-benefits_3">
    <p class="benefits-item-text">1000+ Reviews</p>
   </li>
   <li class="benefits-item"><img class="benefits-img" src="/img/benefits/benefits_4-mobile.svg" alt="benefits_1"
     aria-label="img-benefits_4">
    <p class="benefits-item-text">Online and offline</p>
   </li>

  </ul>
 </div>
</section>