<section class="benefits" id="benefits">
 <div class="container">
  <h2 class="title benefits-title" data-text="BENEFITS">BENEFITS</h2>
  <ul class="benefits-list">
   <li class="benefits-item">
    <div class="benefits-item-container">
     <img class="benefits-img" src="/img/benefits/benefits_1-mobile.svg" alt="benefits_1" aria-label="img-benefits_1"
      loading='lazy' />
    </div>
    <p class="benefits-item-text">
     4.8 <br />
     Rating
    </p>
   </li>
   <li class="benefits-item">
    <div class="benefits-item-container">
     <img class="benefits-img" src="/img/benefits/benefits_2-mobile.svg" alt="benefits_2" aria-label="img-benefits_2"
      loading='lazy' />
    </div>
    <p class="benefits-item-text">50 000+ Downloads</p>
   </li>
   <li class="benefits-item">
    <div class="benefits-item-container">
     <img class="benefits-img" src="/img/benefits/benefits_3-mobile.svg" alt="benefits_3" loading='lazy'
      aria-label="img-benefits_3" />
    </div>
    <p class="benefits-item-text">1000+ Reviews</p>
   </li>
   <li class="benefits-item">
    <div class="benefits-item-container">
     <img class="benefits-img" src="/img/benefits/benefits_4-mobile.svg" alt="benefits_4" loading='lazy'
      aria-label="img-benefits_4" />
    </div>
    <p class="benefits-item-text">Online and offline</p>
   </li>
  </ul>
 </div>
</section>