<section class="buggle">
 <div class="container">
  <a class="buggle-title-img" href="/index.html"><img src="/img/buggle/buggle.svg" alt="title-svg"
    aria-label="title"></a>
  <div class="buggle-container-relative">
   <picture class="buggle-picture-bubble">
    <source srcset="/img/buggle/main_1x.png 1x, /img/buggle/main_2x.png 2x">
    <img src="/img/buggle/main_1x.png" alt="img_main">
   </picture>
   <h1 class="buggle-tittle-mobile">Buggle 2<br> Color Bubble Shoter</h1>
   <picture class="buggle-picture-bubble--mobile">
    <source srcset="/img/buggle/main_moble_1x.png 1x, /img/buggle/main_moble_2x.png 2x">
    <img src="/img/buggle/main_moble_1x.png" alt="img_main">
   </picture>
  </div>
  <h2 class="buggle-title">Color Bubble Shooter</h2>
  <div class="buggle-container--link">
   <a class="buggle-link" href="https://play.google.com/store/apps/details?id=com.cookapps.buggle2m" target="_blank"
    aria-label="buggle-link">
    <svg class="buggle-google-pay" width="36" height="34" aria-label="icon-logos_google-play-icon">
     <use href="/img/buggle/sprite.svg#icon-logos_google-play-icon"></use>
    </svg>
    Download <br> Google Play</a>
  </div>
  <picture>
   <source srcset="/img/buggle/ball_white_1x.png 1x, /img/buggle/ball_white_2x.png 2x">
   <img class="buggle-bubble--white" src="/img/buggle/ball_white_1x.png" alt="ball_white">
  </picture>
  <picture>
   <source srcset="/img/buggle/ball_green_1x.png 1x, /img/buggle/ball_green_2x.png 2x">
   <img class="buggle-bubble--green" src="/img/buggle/ball_ball_green_1x_1x.png" alt="ball_green">
  </picture>
 </div>




</section>