<section class="footer-links">
 <div class="container">
  <div class="footer-links-group">
   <a class="footer-links-link" href="/buggle-2/privacy-policy-page.html" aria-label="Privacy policy"
    title="Privacy policy" data-text="Privacy policy">Privacy policy</a>

   <span class="footer-links-text" data-text="/">/</span>

   <a class="footer-links-link" href="/buggle-2/terms-and-conditions-page.html" aria-label="Terms and conditions"
    title="Terms and conditions" data-text="Terms and conditions">Terms and conditions</a>
  </div>
 </div>
</section>