<section class="gallery" id="gallery">
 <div class="container gallery-container">
  <h2 class="gallery-title title" data-text="Gallery">Gallery</h2>

  <p class="gallery-subtitle">
   Dive into the vibrant world of Buggle 2 and help Andrew the Bear reclaim
   the stolen honey!
  </p>

  <div class="swiper">
   <div class="swiper-wrapper">
    <div class="swiper-slide">
     <picture>
      <source srcset="/img/gallery/gallery_1@1x.webp 1x, /img/gallery/gallery_1@2x.webp 2x" type="image/webp">
      <img src="/img/gallery/gallery_1@1x.webp" loading='lazy' alt="gallery_1" />
     </picture>
    </div>

    <div class="swiper-slide">
     <picture>
      <source srcset="/img/gallery/gallery_2@1x.webp 1x, /img/gallery/gallery_2@2x.webp 2x" type="image/webp">
      <img src="/img/gallery/gallery_2@1x.webp" loading='lazy' alt="gallery_2" />
     </picture>
    </div>

    <div class="swiper-slide">
     <picture>
      <source srcset="/img/gallery/gallery_2@1x.webp 1x, /img/gallery/gallery_2@2x.webp 2x" type="image/webp">
      <img src="/img/gallery/gallery_3@1x.webp"
       srcset="/img/gallery/gallery_3@1x.webp 1x, /img/gallery/gallery_3@2x.webp" loading='lazy' alt="gallery_3" />
     </picture>
    </div>

    <div class="swiper-slide">
     <picture>
      <source srcset="/img/gallery/gallery_4@1x.webp 1x, /img/gallery/gallery_4@2x.webp 2x" type="image/webp">
      <img src="/img/gallery/gallery_4@1x.webp" loading='lazy' alt="gallery_4" />
     </picture>
    </div>
   </div>
  </div>
 </div>
</section>