<header class="header">
  <div class="container" style="position: relative">
    <div class="header-logo">
      <img src="../img/buggle/buggle.svg" alt="logo" />
    </div>

    <button type="button" class="header-burger-button" id="mobileMenuButton">
      <div class="header-burger-button-stick" id="stick1"></div>
      <div class="header-burger-button-stick" id="stick2"></div>
      <div class="header-burger-button-stick" id="stick3"></div>
    </button>

    <nav class="header-mobile-nav" id="mobileMenu">
      <h1 class="header-mobile-title" data-text="Buggle 2">Buggle 2</h1>
      <h2 class="header-mobile-title" data-text="Color Bubble Shoter">
        Color Bubble Shoter
      </h2>

      <ul class="header-mobile-nav-list">
        <li class="header-nav-item">
          <a href="#" class="header-nav-link" data-text="Home">Home</a>
        </li>

        <li class="header-nav-item">
          <a href="#" class="header-nav-link" data-text="Benefits">Benefits</a>
        </li>

        <li class="header-nav-item">
          <a href="#" class="header-nav-link" data-text="Gallery">Gallery</a>
        </li>

        <li class="header-nav-item">
          <a href="#" class="header-nav-link" data-text="About">About</a>
        </li>

        <li class="header-nav-item">
          <a href="#" class="header-nav-link" data-text="Reviews">Reviews</a>
        </li>

        <li class="header-nav-item">
          <a href="#" class="header-nav-link" data-text="Advantages"
            >Advantages</a
          >
        </li>

        <li class="header-nav-item">
          <a href="#" class="header-nav-link" data-text="FAQ">FAQ</a>
        </li>
      </ul>
    </nav>

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#" class="header-nav-link" data-text="Home">Home</a>
        </li>

        <li class="header-nav-item">
          <a href="#" class="header-nav-link" data-text="Benefits">Benefits</a>
        </li>

        <li class="header-nav-item">
          <a href="#" class="header-nav-link" data-text="Gallery">Gallery</a>
        </li>

        <li class="header-nav-item">
          <a href="#" class="header-nav-link" data-text="About">About</a>
        </li>

        <li class="header-nav-item">
          <a href="#" class="header-nav-link" data-text="Reviews">Reviews</a>
        </li>

        <li class="header-nav-item">
          <a href="#" class="header-nav-link" data-text="Advantages"
            >Advantages</a
          >
        </li>

        <li class="header-nav-item">
          <a href="#" class="header-nav-link" data-text="FAQ">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
