<nav class="header-desktop-nav">
  <ul class="header-desktop-nav-list">
    <li class="header-desktop-nav-item">
      <a href="/index.html" class="header-desktop-nav-link" data-text="Home"
        >Home</a
      >
    </li>

    <li class="header-desktop-nav-item">
      <a href="#" class="header-desktop-nav-link" data-text="Benefits"
        >Benefits</a
      >
    </li>

    <li class="header-desktop-nav-item">
      <a href="#" class="header-desktop-nav-link" data-text="Gallery"
        >Gallery</a
      >
    </li>

    <li class="header-desktop-nav-item">
      <a href="#" class="header-desktop-nav-link" data-text="About">About</a>
    </li>

    <li class="header-desktop-nav-item">
      <a href="#" class="header-desktop-nav-link" data-text="Reviews"
        >Reviews</a
      >
    </li>

    <li class="header-desktop-nav-item">
      <a href="#" class="header-desktop-nav-link" data-text="Advantages"
        >Advantages</a
      >
    </li>

    <li class="header-desktop-nav-item">
      <a href="#" class="header-desktop-nav-link" data-text="FAQ">FAQ</a>
    </li>
  </ul>
</nav>
