<section class="questions" id="FAQ">
 <div class="container">
  <h2 class="title questions-title" data-text="Frequently Asked Questions">
   Frequently Asked Questions
  </h2>
  <div class="eye_1">
   <img class="eye_1-img" srcset="/img/questions/eye_1_1x.webp 1x, /img/questions/eye_1_2x.webp 2x "
    src="/img/questions/eye_1_1x.webp " alt="eye_1"  lazy-load="true"/>
  </div>
  <p class="questions-text">
   Find answers to common questions about the game
  </p>
  <div class="eye_2">
   <img class="eye_2-img" srcset="/img/questions/eye_2_1x.webp 1x, /img/questions/eye_2_2x.webp 2x" lazy-load="true"
    src="/img/questions/eye_2_1x.webp" alt="eye_2" />
  </div>
  <div class="questions-container-flex">
   <ul class="questions-list">
    <li class="questions-item">
     How do I start playing? <br /><span class="questions-span">Download and press play!</span>
    </li>
    <li class="questions-item">
     HIs it free? <br /><span class="questions-span">Yes, with optional purchases.</span>
    </li>
    <li class="questions-item">
     Can I play offline? <br /><span class="questions-span">Yes, offline mode available.</span>
    </li>
    <li class="questions-item">
     How to get power-ups? <br /><span class="questions-span">Earn or buy in-game.</span>
    </li>
    <li class="questions-item">
     Strategies for tough levels? <br /><span class="questions-span">Use power-ups wisely.</span>
    </li>
    <li class="questions-item">
     Playing with friends? <br /><span class="questions-span">Connect to social networks.</span>
    </li>
    <li class="questions-item">
     Unlocking new levels?. <br /><span class="questions-span">Complete the previous ones.</span>
    </li>
    <li class="questions-item">
     Age restrictions? <br /><span class="questions-span">Suitable for all ages.</span>
    </li>
    <li class="questions-item">
     Game crashing issues? <br /><span class="questions-span">Restart or reinstall.</span>
    </li>
    <li class="questions-item">
     Support contact? <br /><span class="questions-span">Through the app or website.</span>
    </li>
   </ul>
  </div>
  <div class="questions-container-flowers">
   <img class="questions-container-flowers-img" src="/img/questions/flowers.svg" alt="flowers"
    aria-label="img-flowers" />
  </div>
  <p class="questions-about-text">
   STARLUCKHUB.COM IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF WINNING
   PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME AS WINNING IN REAL LIFE
   GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY
   PLAYING THIS GAME!
  </p>
 </div>
</section>