<header class="header">
  <div class="container" style="position: relative">
    <button type="button" class="header-arrow-button" id="backButton" aria-label="header-arrow-button">
      <svg class="header-arrow-icon" viewBox="0 0 24 24">
        <use xlink:href="/sprite.svg#icon-arrow-left"></use>
      </svg>
    </button>

    <h1 class="header-footer-page-title" data-text="Terms and conditions">
      Terms and conditions
    </h1>

    <load ="./header-desktop-nav.html" />
  </div>
</header>
