.about {
  &-title {
    margin-bottom: 20px;

    @include media(desktop) {
      margin-bottom: 70px;
    }
  }

  &-container--flex {
    display: flex;
    // align-items: center;
    justify-content: center;
    gap: 11px;

    @include media(desktop) {
      gap: 150px;
    }
  }

  &-text {
    font-size: $_main_font_size;
    font-weight: $_main_font_weight;

    width: 180px;
    text-align: center;

    @include media(desktop) {
      font-size: 45px;
      width: 686px;
    }
  }
}

.gift-container {
  margin-top: 10px;
  height: 100%;
  width: 60px;

  @include media(desktop) {
    width: 199px;
  }
}
