.buggle {
  padding-top: 74px;

  @include media(desktop) {
    display: block;
    padding-top: 27px;
    min-height: 680px;
  }

  &-title-img {
    display: none;
    @include media(desktop) {
      display: block;
      position: absolute;
      top: -18px;
      left: 172px;
      z-index: 2;
    }
  }
  &-picture-bubble {
    display: none;

    @include media(desktop) {
      display: block;
      position: absolute;
      top: -50px;
      right: 0;
      z-index: 0;
      width: 862px;
    }
  }

  &-picture-bubble--mobile {
    @include media(mobile) {
      display: block;
      min-width: 195px;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    // @include media(to-desktop) {
    //   display: none;
    // }
    @include media(desktop) {
      display: none;
    }
  }
  &-tittle-mobile {
    position: relative;
    font-size: 18px;
    text-align: center;
    line-height: 16px;
    font-weight: $_main_font_weight;
    // -webkit-text-stroke: 1.5px $_accent_color;
    // color: $_white_font_color;
    // font-weight: $_main_font_weight;
    -webkit-text-fill-color: $_white_font_color;
    -webkit-text-stroke: 1px $_accent_color;

    @include media(desktop) {
      display: none;
    }
  }

  &-link {
    display: block;
    max-width: 200px;
    width: 100%;
    height: 59px;

    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    border: 1px solid $_accent_color;
    background-color: $_white_font_color;
    color: $_black_font_color;
    border-radius: 30px;

    padding-left: 35px;

    display: flex;
    align-items: center;

    @include media(desktop) {
      position: absolute;
      top: 300px;
      left: 304px;
    }

    transition: $_main_transition;

    &:hover {
      transform: scale(1.2);

      border: none;
      color: $_accent_color;
    }
  }
  &-google-pay {
    margin-right: 8px;
    @include media(desktop) {
      margin-right: 8px;
    }
  }

  &-title {
    display: none;
    @include media(desktop) {
      display: block;
      position: absolute;
      top: 164px;
      left: 300px;
      width: 321px;
      text-align: center;
      text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      font-weight: $_main_font_weight;
      font-size: 45px;
    }
  }

  &-bubble--green {
    display: none;
    @include media(desktop) {
      display: block;
      position: absolute;
      top: 374px;
      left: 300px;
    }
  }
  &-bubble--white {
    display: none;
    @include media(desktop) {
      display: block;
      position: absolute;
      top: 430px;
      left: 180px;
    }
  }
}

.buggle-container--link {
  display: flex;
  justify-content: center;
  @include media(desktop) {
    display: block;
  }
}
