.players {
  padding: 56px;
  @include media(desktop) {
    padding-top: 73px;
    padding-bottom: 70px;
  }

  &-title {
    font-size: 15px;
    margin-bottom: 29px;
    text-align: center;

    @include media(desktop) {
      position: relative;
      color: $_accent_color;
      -webkit-text-stroke: 3px $_white_font_color;

      font-size: 60px;
      line-height: 53px;
      text-align: center;
      margin-bottom: 70px;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include media(desktop) {

      display: flex;
    }
  }

  &-item {
    max-width: 92px;
    width: 100%;
    font-size: 15px;
    margin-right: 26px;
    font-weight: $_main_font_weight;
    line-height: 13px;
    margin-bottom: 18px;

    @include media(desktop) {
      // width: 400px;
      margin-right: 250px;
      font-size: 45px;
      line-height: 40px;
      font-weight: $_main_font_weight;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
    &--span {
      display: block;
      font-size: 15px;
      color: $_accent_color;
      line-height: 13px;
      margin-top: 18px;

      @include media(desktop) {
        margin-top: 30px;
        font-size: 45px;
        font-weight: $_main_font_weight;
        line-height: 40px;
        text-align: left;
        display: block;
      }
    }
  }
}
