.players {
  padding: 56px;
  @include media(desktop) {
    padding-top: 73px;
    padding-bottom: 70px;
  }

  &-title {
    font-size: 15px;
    -webkit-text-stroke-color: $_white_font_color;
    -webkit-text-stroke-width: 1px;
    color: $_accent_color;
    font-weight: $_main_font_weight;
    margin-bottom: 29px;
    text-align: center;

    @include media(desktop) {
      font-size: 60px;
      color: $_accent_color;
      line-height: 53px;
      text-align: center;
      margin-bottom: 70px;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    @include media(desktop) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
  &-item {
    font-size: 15px;
    width: calc((100% - 26px) / 2);
    margin-right: 26px;
    line-height: 13px;

    @include media(desktop) {
      font-size: 45px;
      line-height: 40px;
      font-weight: $_main_font_weight;
      margin-bottom: 35px;
      width: 400px;
      margin-right: 250px;
      // margin-right: 100px;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
    &--span {
      display: block;
      font-size: 15px;
      color: $_accent_color;
      text-align: center;
      line-height: 13px;
      margin-top: 18px;

      @include media(desktop) {
        margin-top: 30px;
      }
    }
  }
}
